
<script src="~/assets/validate/ConfigXmlGeneratorValidate.js"></script>


<div class="row">

        <div class="col-md-12 col-12" hidden>
        <div class="form-group">
            <label><spa class="text-danger">* </spa> No </label>
            <input type="text" disabled id="txtUpdateConfigXmlGeneratorNo" class="form-control">
        </div>
    </div>

    <div class="col-md-12 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Customer Code </label>
            <input type="text" disabled id="txtUpdateConfigXmlGeneratorCustomerCode" onkeyup="validateUpdateProductUnit();" class="form-control">
        </div>
    </div>

    <div class="col-md-3 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Input Source </label>
            <input type="text" id="txtUpdateConfigXmlGeneratorInputSource" onkeyup="validateUpdateConfigXmlGenerator()" class="form-control">
        </div>
    </div>


    <div class="col-md-3 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Input Type </label>
            <input type="text" id="txtUpdateConfigXmlGeneratorInputType" onkeyup="validateUpdateConfigXmlGenerator()" class="form-control">
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Input Path </label>
            <input type="text" id="txtUpdateConfigXmlGeneratorInputPath" onkeyup="validateUpdateConfigXmlGenerator()" class="form-control">
        </div>
    </div>

    
    <div class="col-md-3 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Source </label>
            <input type="text" id="txtUpdateConfigXmlGeneratorOutputSource" onkeyup="validateUpdateConfigXmlGenerator()" class="form-control">
        </div>
    </div>


    <div class="col-md-3 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Type </label>
            <input type="text" id="txtUpdateConfigXmlGeneratorOutputType" onkeyup="validateUpdateConfigXmlGenerator()" class="form-control">
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Path </label>
            <input type="text" id="txtUpdateConfigXmlGeneratorOutputPath" onkeyup="validateUpdateConfigXmlGenerator()" class="form-control">
        </div>
    </div>

    <div class="col-md-12 col-12">
        <div class="form-group">
            <label>Online Record Number</label>
            <input type="text" id="txtUpdateConfigXmlGeneratorOnlineRecordNumber" onkeyup="validateUpdateConfigXmlGenerator()" class="form-control">
        </div>
    </div>

    <div class="col-md-12 col-12">
        <div class="form-group">
            <div class="custom-control custom-control-primary custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="toggleUpdateConfigXmlGeneratorIsActive" checked />
                <label class="custom-control-label" for="toggleUpdateConfigXmlGeneratorIsActive">Is Active</label>
            </div>
        </div>
    </div>

</div>
