@{
    Layout = null;
}


<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Company Profile Update</h2>
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-primary" onclick="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" onclick="callProfileCompanyIndex();">Company Profile</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a onclick="javascript:void(0);">Update</a> :
                            <label id="companyCodeStateUpdate"></label>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="section-ProfileCompany-create">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Company Info</h4>
                </div>
                <div class="card-body">
                   @await Html.PartialAsync("~/Views/ProfileCompany/_Update.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-profileSeller-create">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Company Address</h4>
                </div>
                <div class="card-body" id="render-profileSeller-update">
                    @await Html.PartialAsync("~/Views/ProfileSeller/Index.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>



<section id="section-profileSellOrg-create">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Sell Org </h4>
                </div>
                <div class="card-body" id="render-profileSellOrg-update">
                    @await Html.PartialAsync("~/Views/ProfileSellOrg/Index.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-profileCertificate-create">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Certificate </h4>
                </div>
                <div class="card-body" id="render-profileCertificate-update">
                    @await Html.PartialAsync("~/Views/ProfileCertificate/Index.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section-configXmlGenerator-update">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Config Xml Generator </h4>
                </div>
                <div class="card-body" id="render-configXmlGenerator-update">
                    @await Html.PartialAsync("~/Views/ConfigXmlGenerator/Index.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>



<section id="section-configXmlSign-update">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Config Xml Sign </h4>
                </div>
                <div class="card-body" id="render-configXmlSign-update">
                    @await Html.PartialAsync("~/Views/ConfigXmlSign/Index.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section-configPdfSign-update">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Config Pdf Sign </h4>
                </div>
                <div class="card-body" id="render-configPdfSign-update">
                    @await Html.PartialAsync("~/Views/ConfigPdfSign/Index.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section-configMftsEmailSetting-update">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Config Mfts Email Setting </h4>
                </div>
                <div class="card-body" id="render-configMftsEmailSetting-update">
                    @await Html.PartialAsync("~/Views/ConfigMftsEmailSetting/Index.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section-configMftsCompressXmlSetting-update">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Config Mfts Compress Xml Setting </h4>
                </div>
                <div class="card-body" id="render-configMftsCompressXmlSetting-update">
                    @await Html.PartialAsync("~/Views/ConfigMftsCompressXmlSetting/Index.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>



<section id="section-configMftsCompressPrintSetting-update">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Config Mfts Compress Print Setting </h4>
                </div>
                <div class="card-body" id="render-configMftsCompressPrintSetting-update">
                    @await Html.PartialAsync("~/Views/ConfigMftsCompressPrintSetting/Index.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section-configMftsIndexGenerationSetting-update">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Index Generation Input ( MFTS ) </h4>
                </div>
                <div class="card-body" id="render-configMftsIndexGenerationSettingInput-update">
                    @await Html.PartialAsync("~/Views/configMftsIndexGenerationSettingInput/Index.cshtml")
                </div>
            </div>
        </div>


         <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Index Generation Output ( MFTS ) </h4>
                </div>
                <div class="card-body" id="render-configMftsIndexGenerationSettingOutput-update">
                    @await Html.PartialAsync("~/Views/configMftsIndexGenerationSettingOutput/Index.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>

