@{
    Layout = null;
}

<script src="~/assets/validate/ProfilePartnerValidate.js"></script>


<div class="modal fade" tabindex="-1" role="dialog" id="modalCreateProfilePartner" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create @ViewData["Title"]</h5>
                <button type="button" class="close" onclick="fnInsertCancelProfilePartner();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("~/Views/ProfilePartner/_Create.cshtml")
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnInsertCancelProfilePartner();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnInsertProfilePartner();">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modalUpdateProfilePartner" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update @ViewData["Title"]</h5>
                <button type="button" class="close" onclick="fnUpdateCancelProfilePartner();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               @await Html.PartialAsync("~/Views/ProfilePartner/_Update.cshtml")
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnUpdateCancelProfilePartner();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnUpdateProfilePartner();">Save changes</button>
            </div>
        </div>
    </div>
</div>
