<form class="form form-vertical">
    <div class="row">

        <div class="col-12" hidden>
            <div class="form-group">
                <label><spa class="text-danger">* </spa>partnerProfileNo</label>
                <input type="text" id="txtUpdateProfilePartnerProfileNo" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Customer Id</label>
                <input type="text" id="txtUpdateProfilePartnerCustomerId" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Company Code</label>
                <select class="select2 form-control" id="ddlUpdateProfilePartnerCompanyCode"></select>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Sell Org</label>
                <select class="select2 form-control" id="ddlUpdateProfilePartnerSellOrg"></select>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>PartnerOutputType</label>
                <input type="text" id="txtUpdateProfilePartnerPartnerOutputType" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>NumberOfCopies</label>
                <input type="text" id="txtUpdateProfilePartnerNumberOfCopies" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Serial</label>
                <input type="text" id="txtUpdateProfilePartnerSoldToCode" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>SoldToEmail</label>
                <input type="text" id="txtUpdateProfilePartnerSoldToEmail" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>SoldToCCEmail</label>
                <input type="text" id="txtUpdateProfilePartnerSoldToCCEmail" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>shipToCode</label>
                <input type="text" id="txtUpdateProfilePartnerShipToCode" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>shipToEmail</label>
                <input type="text" id="txtUpdateProfilePartnerShipToEmail" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>shipToCCEmail</label>
                <input type="text" id="txtUpdateProfilePartnerShipToCCEmail" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>PartnermailType</label>
                <select class="select2 form-control" id="ddlUpdateProfilePartnerPartnermailType"></select>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>emailTemplateNo</label>
                <select class="select2 form-control" id="ddlUpdateProfilePartnermailTemplateNo"></select>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleUpdateProfilePartner" checked />
                    <label class="custom-control-label" for="toggleUpdateProfilePartner">Is Active</label>
                </div>
            </div>
        </div>
    </div>
</form>

