<form class="form form-vertical">
    <div class="row">

        <div class="col-12" hidden>
            <div class="form-group">
                <label><spa class="text-danger">* </spa>No</label>
                <input type="text" disabled id="txtUpdateProfilePartnerNo" maxlength="20" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Customer Id</label>
                <input type="text" disabled id="txtUpdateProfilePartnerCustomerId" maxlength="20" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Company Code</label>
                <select class="select2 form-control" id="ddlUpdateProfilePartnerCompanyCode" onchange="onChangeDdlUpdatePartnerSaleOrg();"></select>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>SalesOrg Code</label>
                <select class="select2 form-control" id="ddlUpdateProfilePartnerSaleOrg"></select>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Sold To</label>
                <input type="text" id="txtUpdateProfilePartnerSoldTo" maxlength="4" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Ship To</label>
                <input type="text" id="txtUpdateProfilePartnerShipTo" maxlength="4" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <hr />

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Select Output type</label>
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input onchange="onChangeUpdateProfilePartnerPrint()" type="checkbox" class="custom-control-input" id="toggleUpdateProfilePartnerPrint" />
                    <label class="custom-control-label" for="toggleUpdateProfilePartnerPrint">Print to spool</label>
                </div>
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpUpdatePartnerNumberOfCopies">
                <label><spa class="text-danger">* </spa>Number of copies</label>
                <input type="number" id="txtUpdateProfilePartnerNumberOfCopies" value="0" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Email setting</label>
            </div>
        </div>


        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" onchange="onChangeUpdateProfilePartnerEmail()" class="custom-control-input" id="toggleUpdateProfilePartnerEmail" />
                    <label class="custom-control-label" for="toggleUpdateProfilePartnerEmail">Sending email</label>
                </div>
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>


        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpUpdatePartnerEmail">
                <label><spa class="text-danger">* </spa>To : </label>
                <input type="text" id="txtUpdateProfilePartnerCustomerEmail" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpUpdatePartnerCcEmail">
                <label><spa class="text-danger">* </spa>CC : </label>
                <input type="text" id="txtUpdateProfilePartnerCustomerCCEmail" onkeyup="validateUpdateProfilePartner();" class="form-control">
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpUpdatePartnerFileAttach">
                <label><spa class="text-danger">* </spa>File attachment</label>
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpUpdatePartnerSingedPdf">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleUpdateProfilePartnerFileSignedPdf" checked />
                    <label class="custom-control-label" for="toggleUpdateProfilePartnerFileSignedPdf">with Signed PDF</label>
                </div>
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpUpdatePartnerSingedXml">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleUpdateProfilePartnerFileSignedXml" checked />
                    <label class="custom-control-label" for="toggleUpdateProfilePartnerFileSignedXml">with Signed XML</label>
                </div>
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpUpdatePartnerEmailType">
                <label><spa class="text-danger">* </spa>Email Type</label>
                <select class="select2 form-control" id="ddlUpdateProfilePartnerEmailType"></select>
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpUpdatePartnerEmailTemplate">
                <label><spa class="text-danger">* </spa>Email Template</label>
                <select class="select2 form-control" id="ddlUpdateProfilePartnerEmailTemplate"></select>
            </div>
        </div>


        <div class="col-12">
            <div class="form-group">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleUpdateProfilePartner" checked />
                    <label class="custom-control-label" for="toggleUpdateProfilePartner">Is Active</label>
                </div>
            </div>
        </div>

    </div>
</form>

