<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		
		<add key="API_ADDRESS" value="http://localhost:7274/"/>
		<add key="APP_CODE" value="SCG_CAD_ETAX"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	
	</appSettings>
	
	<connectionStrings>
		<add name="ConnectionStr" connectionString=""/>
	</connectionStrings>
		
	<system.web>
		<customErrors mode="On">
			<error statusCode="404" redirect="~/Error/Index"/>
			<error statusCode="500" redirect="~/Error/Index"/>
		</customErrors>
	</system.web>
	

</configuration>