@{
    Layout = null;
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-end align-items-center">
                @*<a id="btnCallModalCreateOutputSearchXmlZip" onclick="callModalInsertOutputSearchXmlZip();" class="pointer btn btn-icon icon-left text-white btn-primary">
                    <i class="fas fa-plus"></i> Cerate New
                    </a>*@
                &nbsp;&nbsp;
                <a id="btnExportOutputSearchXmlZip" onclick="ExportOutputSearchXmlZip()" class="pointer btn btn-icon icon-left text-white btn-success">
                    <i class="fas fa-file-export"></i> Export (.csv)
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-hover-animation" id="tbOutputSearchXmlZipMain">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Zip Date</th>
                                <th>File name</th>
                                <th>Document</th>
                                <th>Download</th>
                                <th>DownloadStatus</th>
                                <th>History</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



