<section id="faq-tabs">
    <!-- vertical tab pill -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- pill tabs tab content -->
            <div class="tab-content">
                <!-- payment panel -->
                <div role="tabpanel" class="tab-pane active" id="faq-payment" aria-labelledby="payment" aria-expanded="true">

                    <!-- frequent answer and question  collapse  -->
                    <div class="collapse-margin collapse-icon mt-2" id="faq-payment-qna">
                        
                        <div class="card">
                            <div class="card-header" id="paymentTwo" data-toggle="collapse" role="button" data-target="#faq-payment-two" aria-expanded="true" aria-controls="faq-payment-two">
                                <span class="lead collapse-title">Search</span>
                            </div>
                            <div id="faq-payment-two" class="collapse show" aria-labelledby="paymentTwo" data-parent="#faq-payment-qna">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Customer Code</label>
                                                <input type="text" id="outputSearchXmlZipCustomerCode" class="form-control" placeholder="Customer Code." />
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label><spa class="text-danger">* </spa>Between Date </label>
                                                <input type="text" id="outputSearchXmlZipDate" class="form-control flatpickr-date-time" placeholder="YYYY-MM-DD HH:MM">
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="color:transparent"><span class="text-danger"></span> Dowload</label>
                                            <a class="pointer btn btn-icon icon-left text-white btn-primary">
                                                <i class="fas fa-search"></i> Search
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>