@{
    ViewData["Title"] = "Product Unit Profile";
    Layout = null;
}

<div class="section-header">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="section-body">
    @await Html.PartialAsync("~/Views/ProductUnit/_Content.cshtml")
</div>




