@{
    ViewData["Title"] = "Document Code";
    Layout = null;
}

<script src="~/assets/validate/DocumentCodeValidate.js"></script>

<div class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalCreateDocumentCode" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Document Code</h5>
                <button type="button" class="close" onclick="fnInsertCancelDocumentCode();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 @await Html.PartialAsync("~/Views/DocumentCode/_Create.cshtml")
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnInsertCancelDocumentCode();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnInsertDocumentCode();">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalUpdateDocumentCode" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Document Code</h5>
                <button type="button" class="close" onclick="fnInsertCancelDocumentCode();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 @await Html.PartialAsync("~/Views/DocumentCode/_Update.cshtml")
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnUpdateCancelDocumentCode()">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnUpdateDocumentCode();">Save changes</button>
            </div>
        </div>
    </div>
</div>
