@{
    ViewData["Title"] = "TaxCode";
    Layout = null;
}

    <script src="~/assets/validate/TaxCodeValidate.js"></script>


@* [Begin] Modal Create *@
<div class="modal fade" tabindex="-1" role="dialog" id="modalCreateTaxCode" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create @ViewData["Title"]</h5>
                <button type="button" class="close" onclick="fnInsertCancelProfileEmailTemplate();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>TaxCode for ERP</label>
                                    <input type="text" id="txtInsertTaxCodeErp" onkeyup="validateInsertTaxCode();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>TaxCode for Revenue</label>
                                    <input type="text" id="txtInsertTaxCodeRd" onkeyup="validateInsertTaxCode();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" id="txtInsertTaxCodeDescription" onkeyup="validateInsertTaxCode();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <div class="control-label">Toggle switch IsActive</div>
                                    <input id="toggleInsertTaxCode" checked type="checkbox" data-toggle="toggle">
                                    <div hidden id="toggleInsertTaxCode-event"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnInsertCancelProfileEmailTemplate();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnInsertTaxCode();">Save changes</button>
            </div>
        </div>
    </div>
</div>

@* [End] Modal Create *@


<div class="modal fade" tabindex="-1" role="dialog" id="modalUpdateTaxCode" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update @ViewData["Title"]</h5>
                <button type="button" class="close" onclick="fnUpdateCancelProfileEmailTemplate();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group" hidden>
                                    <label>No</label>
                                    <input disabled type="text" id="txtUpdateTaxCodeNo" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>TaxCode for ERP</label>
                                    <input type="text" id="txtUpdateTaxCodeErp" onkeyup="validateUpdateTaxCode();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>TaxCode for Revenue</label>
                                    <input type="text" id="txtUpdateTaxCodeRd" onkeyup="validateUpdateTaxCode();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" id="txtUpdatetTaxCodeDescription" onkeyup="validateUpdateTaxCode();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <div class="control-label">Toggle switch IsActive</div>
                                    <input id="toggleUpdateTaxCode" type="checkbox" data-toggle="toggle">
                                    <div hidden id="toggleUpdateTaxCode-event"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnUpdateCancelProfileEmailTemplate();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnUpdateTaxCode();">Save changes</button>
            </div>
        </div>
    </div>
</div>
