@{
    ViewData["Title"] = "TaxCode Profile";
    Layout = null;
}

<div class="section-header">
    <h1>@ViewData["Title"]</h1>
</div>


<div class="section-body">

    @await Html.PartialAsync("~/Views/TaxCode/_Content.cshtml")

</div>


<script type="text/javascript">

     $(document).ready(function () {

        RenderTaxCode();

         $('#toggleUpdateTaxCode').change(function() {
            $('#toggleUpdateTaxCode-event').html('Toggle: ' + $(this).prop('checked'))
        })

    });


    
    function RenderProductUnit(){

        var table = $("#tbProductUnitMain").DataTable({

            "scrollY": false,
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "pageLength": 10,

            "ajax": {
                url: "@Url.Action("List", "ProductUnit")",
                type: "POST",
                datatype: "json"
            },


            "columns": [

                {
                    data: "productUnitNo",
                    className: "text-center",
                    width: "5%",
                    visible: false
                },
                {
                    //data: "productUnitNo",
                    className: "text-center",
                    width: "5%",
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                {
                    data: "productUnitErp",
                    width: "20%"
                },
                {
                    data: "productUnitRd",
                    width: "20%"
                },
                {
                    data: "productUnitDescription",
                    width: "10%"
                },
                {
                    data: "isactive",
                    width: "10%",
                    className: "text-center",
                    render: function (data, type, row) {
                        return (data == 1) ? '<i class="text-success fas fa-check"/>' : '<i class="text-danger fas fa-ban"/>';
                    }
                },
                {
                    data: null,
                    className: "dt-center editor-edit text-center text-primary",
                    defaultContent: '<i class="pointer fas fa-pen"/>',
                    orderable: false,
                    width: "2%"
                }
                //{
                //    data: null,
                //    className: "dt-center editor-delete text-center text-danger",
                //    defaultContent: '<i class="pointer fas fa-trash"/>',
                //    orderable: false,
                //    width: "2%"
                //}
            ]
        });

        EditProductUnit(table);
        DeleteProductUnit(table);
    }


</script>