@{
    Layout = null;
}

<script src="~/assets/validate/ProfileBranchValidate.js"></script>


@* [Begin] Modal Create *@
<div class="modal fade" tabindex="-1" role="dialog" id="modalCreateProfileBranch" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create @ViewData["Title"]</h5>
                <button type="button" class="close" onclick="fnInsertCancelProfileBranch();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>ProfileBranch Code</label>
                                    <input type="text" id="txtInsertProfileBranchCode" onkeyup="validateInsertProfileBranch();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>ProfileBranch Company Code</label>
                                    <input type="text" disabled id="txtInsertProfileBranchCompanyCode" onkeyup="validateInsertProfileBranch();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>ProfileBranch Name TH</label>
                                    <input type="text" id="txtInsertProfileBranchNameTh" onkeyup="validateInsertProfileBranch();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>ProfileBranch Name EN</label>
                                    <input type="text" id="txtInsertProfileBranchNameEn" onkeyup="validateInsertProfileBranch();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" id="txtInsertProfileBranchDescription" onkeyup="validateInsertProfileBranch();" class="form-control">
                                </div>


                                <div class="form-group">

                                    <div class="custom-control custom-control-primary custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="toggleInsertProfileBranch" checked />
                                        <label class="custom-control-label" for="toggleInsertProfileBranch">Is Active</label>
                                    </div>

                                    @*<div class="control-label">Toggle switch IsActive</div>
                                        <input id="toggleInsertProfileBranch" checked type="checkbox">
                                        <div hidden id="toggleInsertProfileBranch-event"></div>*@
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnInsertCancelProfileBranch();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnInsertProfileBranch();">Save changes</button>
            </div>
        </div>
    </div>
</div>

@* [End] Modal Create *@


<div class="modal fade" tabindex="-1" role="dialog" id="modalUpdateProfileBranch" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update @ViewData["Title"]</h5>
                <button type="button" class="close" onclick="fnUpdateCancelProfileBranch();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group" hidden>
                                    <label>No</label>
                                    <input disabled type="text" id="txtUpdateProfileBranchNo" class="form-control">
                                </div>


                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>ProfileBranch Code</label>
                                    <input disabled type="text" id="txtUpdateProfileBranchCode" onkeyup="validateUpdateProfileBranch();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>ProfileBranch Company Code</label>
                                    <input type="text" id="txtUpdateProfileBranchCompanyCode" onkeyup="validateUpdateProfileBranch();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>ProfileBranch Name TH</label>
                                    <input type="text" id="txtUpdateProfileBranchNameTh" onkeyup="validateUpdateProfileBranch();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>ProfileBranch Name EN</label>
                                    <input type="text" id="txtUpdateProfileBranchNameEn" onkeyup="validateUpdateProfileBranch();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" id="txtUpdateProfileBranchDescription" onkeyup="validateUpdateProfileBranch();" class="form-control">
                                </div>


                                <div class="form-group">
                                    <div class="custom-control custom-control-primary custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="toggleUpdateProfileBranch" checked />
                                        <label class="custom-control-label" for="toggleUpdateProfileBranch">Is Active</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnUpdateCancelProfileBranch();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnUpdateProfileBranch();">Save changes</button>
            </div>
        </div>
    </div>
</div>
