<form class="form form-vertical">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Company Code</label>
                <input disabled type="text" id="txtInsertProfileSellOrgCompanyCode" onkeyup="validateInsertProfileSellOrg();" class="form-control">
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>SellOrg Code</label>
                <input type="text" id="txtInsertProfileSellOrgCode" onkeyup="validateInsertProfileSellOrg();" class="form-control">
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="form-group">
                <label>Description</label>
                <input type="text" id="txtInsertProfileSellOrgDescription" onkeyup="validateInsertProfileSellOrg();" class="form-control">
            </div>
        </div>

        <div class="col-md-12 col-12">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" checked class="custom-control-input" id="toggleInsertProfileSellOrg" />
                    <label class="custom-control-label" for="toggleInsertProfileSellOrg">Is Active</label>
                </div>
            </div>
        </div>
    </div>
</form>