<form class="form form-vertical">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Company Code</label>
                <select class="select2 form-control" id="ddlInsertProfileSellOrgCompanyCode"></select>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>SellOrg Code</label>
                <input type="text" id="txtInsertProfileSellOrgCode" onkeyup="validateInsertProfileSellOrg();" class="form-control">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label>Description</label>
                <input type="text" id="txtInsertProfileSellOrgDescription" onkeyup="validateInsertProfileSellOrg();" class="form-control">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <div class="control-label">Toggle switch IsActive</div>
                <input id="toggleInsertProfileSellOrg" checked type="checkbox" data-toggle="toggle">
                <div hidden id="toggleInsertProfileSellOrg-event"></div>
            </div>
        </div>
        <div class="col-12">
            <button type="reset" class="btn btn-primary mr-1">Submit</button>
            <button type="reset" class="btn btn-outline-secondary">Reset</button>
        </div>
    </div>
</form>