<div class="col-lg-12 col-md-12 col-12">
    <div class="card card-transaction">
        <div class="card-body" id="appendConfigMftsIndexGenerationSettingOutputAnyTime">
            
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-12">

    <div class="row" hidden>
        <input type="text" id="txtUpdateConfigMftsIndexGenerationSettingOutputAnyTimeNo" class="form-control">
    </div>

    <div class="row">
        <div class="col-8">
            <input type="text" id="txtConfigMftsIndexGenerationSettingOutputAnyTime" class="form-control flatpickr-date-time" placeholder="HH:MM">
        </div>

        <div class="col-4">
            <a class="btn btn-primary btn-sm" onclick="callConfigMftsIndexGenerationSettingOutputAnyTime()">Add</a>
        </div>
    </div>
</div>