@{
    Layout = null;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-end align-items-center">
                <a id="btnCallModalCreateConfigMftsCompressXmlSetting" onclick="callModalInsertConfigMftsIndexGenerationSettingOutput();" class="pointer btn btn-icon icon-left text-white btn-primary">
                    <i class="fas fa-plus"></i> Cerate New
                </a>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped hover table-hover-animation" id="tbConfigMftsIndexGenerationSettingOutputMain">
                        <thead>
                            <tr>
                                <th class="text-center">PK Key</th>
                                <th class="text-center">No</th>
                                <th>Output Source</th>
                                <th>Log Receive Folder</th>
                                <th>Output Folder</th>
                                <th></th>
                                <th></th>
                                <th>IsActive</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

