<form class="form form-vertical">
    <div class="row">

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Company Code</label>
                <input disabled type="text" id="txtInsertConfigMftsIndexGenerationSettingOutputCompanyCode" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa> Output Source Name </label>
                <select class="select2 form-control" id="ddlInsertConfigMftsIndexGenerationSettingOutputOutputSourceName"></select>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa> Output Type </label>
                <select class="select2 form-control" id="ddlInsertConfigMftsIndexGenerationSettingOutputType">
                    <option value="sftp">sftp</option>
                    <option value="folder">folder</option>
                </select>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Output Folder</label>
                @*<input type="text" id="txtInsertConfigMftsIndexGenerationSettingOutputFolder" onclick="fnOpenGetPathServerModal('txtInsertConfigMftsIndexGenerationSettingOutputFolder')" class="form-control">*@
                <input type="text" id="txtInsertConfigMftsIndexGenerationSettingOutputFolder" class="form-control">
            </div>
        </div>

         <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa> Log Receive Type</label>
                <select class="select2 form-control" id="ddlInsertConfigMftsIndexGenerationSettingOutputLogReceiveType">
                    <option value="sftp">sftp</option>
                    <option value="folder">folder</option>
                </select>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Log Receive Folder</label>
                @*<input type="text" id="txtInsertConfigMftsIndexGenerationSettingOutputLogReceiveFolder" onclick="fnOpenGetPathServerModal('txtInsertConfigMftsIndexGenerationSettingOutputLogReceiveFolder')" class="form-control">*@
                <input type="text" id="txtInsertConfigMftsIndexGenerationSettingOutputLogReceiveFolder" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
           @* <div class="form-group">
                <label><spa class="text-danger">* </spa> Log Archived Type</label>
                <select class="select2 form-control" id="ddlInsertConfigMftsIndexGenerationSettingOutputLogArchivedType">
                    <option value="sftp">sftp</option>
                    <option value="folder">folder</option>
                </select>
            </div>*@
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Log Archived Folder</label>
                @*<input type="text" id="txtInsertConfigMftsIndexGenerationSettingOutputLogArchivedFolder" onclick="fnOpenGetPathServerModal('txtInsertConfigMftsIndexGenerationSettingOutputLogArchivedFolder')" class="form-control">*@
                <input type="text" id="txtInsertConfigMftsIndexGenerationSettingOutputLogArchivedFolder" class="form-control">
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Host</label>
                <input type="text" id="txtInsertConfigMftsIndexGenerationSettingOutputHost" class="form-control">
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Port</label>
                <input type="text" id="txtInsertConfigMftsIndexGenerationSettingOutputPort" class="form-control">
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Username</label>
                <input type="text" id="txtInsertConfigMftsIndexGenerationSettingOutputUsername" class="form-control">
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Password</label>
                <input type="password" id="txtInsertConfigMftsIndexGenerationSettingOutputPassword" class="form-control">
            </div>
        </div>
        

        <div class="col-md-12 col-12">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" checked class="custom-control-input" id="toggleInsertConfigMftsIndexGenerationSettingOutputIsActive" />
                    <label class="custom-control-label" for="toggleInsertConfigMftsIndexGenerationSettingOutputIsActive">Is Active</label>
                </div>
            </div>
        </div>

    </div>
</form>