<div class="col-lg-12 col-md-12 col-12">
    <div class="card card-transaction">
        <div class="card-body" id="appendConfigMftsIndexGenerationSettingOutputOneTime">
            
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-12">

    <div class="row" hidden>
        <input type="text" id="txtUpdateConfigMftsIndexGenerationSettingOutputOneTimeNo" class="form-control">
    </div>

    <div class="row">
        <div class="col-8">
            <input type="text" id="txtConfigMftsIndexGenerationSettingOutputOneTime" class="form-control flatpickr-date-time" placeholder="DD-MM-YYYY HH:MM">
        </div>

        <div class="col-4">
            <a class="btn btn-primary btn-sm" onclick="callConfigMftsIndexGenerationSettingOutputOneTime()">Add</a>
        </div>
    </div>
</div>