<form class="form form-vertical">
    <div class="row">

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Category name</label>
                <input type="text" id="txtInsertConfigGlobalCategoryName" style="text-transform: uppercase;" onkeyup="validateInsertConfigGlobalCategory();" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label>Description</label>
                <input type="text" id="txtInsertConfigGlobalCategoryDescription" onkeyup="validateInsertConfigGlobalCategory();" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleInsertConfigGlobalCategory" checked />
                    <label class="custom-control-label" for="toggleInsertConfigGlobalCategory">Is Active</label>
                </div>
            </div>
        </div>

    </div>
</form>

