<form class="form form-vertical">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>TaxNumber</label>
                <input disabled type="text" id="txtInsertProfileCertificatTaxNumber" onkeyup="validateInsertProfileCertificate();" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Company Name</label>
                <input disabled type="text" id="txtInsertProfileCertificateCompanyName" onkeyup="validateInsertProfileCertificate();" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Data</label>
                <textarea style="height:50px" required id="txtInsertProfileCertificateData" onkeyup="validateInsertProfileCertificate();" class="form-control"></textarea>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Serial</label>
                <textarea style="height:50px" required type="text" id="txtInsertProfileCertificateSerial" onkeyup="validateInsertProfileCertificate();" class="form-control"></textarea>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Key Alias</label>
                <textarea style="height:50px" required type="text" id="txtInsertProfileCertificateKeyAlias" onkeyup="validateInsertProfileCertificate();" class="form-control"></textarea>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Start Date</label>
                <input type="text" id="txtInsertProfileCertificateStartDate" onkeyup="validateInsertProfileCertificate();" class="form-control flatpickr-date-time" placeholder="YYYY-MM-DD HH:MM">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>End Date</label>
                <input type="text" id="txtInsertProfileCertificateEndDate" onkeyup="validateInsertProfileCertificate();" class="form-control flatpickr-date-time" placeholder="YYYY-MM-DD HH:MM">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleInsertProfileCertificate" checked />
                    <label class="custom-control-label" for="toggleInsertProfileCertificate">Is Active</label>
                </div>
            </div>
        </div>
    </div>
</form>

