<form class="form form-vertical">
    <div class="row">
        <div class="col-md-12 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>CertificateSerial</label>
                @*<input disabled type="text" id="txtInsertProfileCertificatSerial" class="form-control">*@
                <select class="select2 form-control" id="ddlInsertProfileCertificatSerial"></select>
            </div>
        </div>
        
        <div class="col-md-12 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>CertificateName</label>
                @*<input disabled type="text" id="txtInsertProfileCertificatSerial" class="form-control">*@
                <input disabled type="text" id="txtInsertProfileCertificateName" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Start Date</label>
                <input disabled type="text" id="txtInsertProfileCertificateStartDate" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>End Date</label>
                <input disabled type="text" id="txtInsertProfileCertificateEndDate" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleInsertProfileCertificate" checked />
                    <label class="custom-control-label" for="toggleInsertProfileCertificate">Is Active</label>
                </div>
            </div>
        </div>
    </div>
</form>

