<form class="form form-vertical">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="first-name-icon">First Name</label>
                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i data-feather="user"></i></span>
                    </div>
                    <input type="text" id="first-name-icon" class="form-control" name="fname-icon" placeholder="First Name" />
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="email-id-icon">Email</label>
                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i data-feather="mail"></i></span>
                    </div>
                    <input type="email" id="email-id-icon" class="form-control" name="email-id-icon" placeholder="Email" />
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="contact-info-icon">Mobile</label>
                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i data-feather="smartphone"></i></span>
                    </div>
                    <input type="number" id="contact-info-icon" class="form-control" name="contact-icon" placeholder="Mobile" />
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="password-icon">Password</label>
                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i data-feather="lock"></i></span>
                    </div>
                    <input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="Password" />
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" />
                    <label class="custom-control-label" for="customCheck4">Remember me</label>
                </div>
            </div>
        </div>
        <div class="col-12">
            <button type="reset" class="btn btn-primary mr-1">Submit</button>
            <button type="reset" class="btn btn-outline-secondary">Reset</button>
        </div>
    </div>
</form>