<form class="form form-vertical">
    <div class="row">
        <div class="col-12" hidden>
            <div class="form-group">
                <label><spa class="text-danger">* </spa>TaxNumber</label>
                <input disabled type="text" id="txtUpdateProfileCertificateNo" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>TaxNumber</label>
                <input disabled type="text" id="txtUpdateProfileCertificatTaxNumber" onkeyup="validateUpdateProfileCertificate();" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Company Name</label>
                <input disabled type="text" id="txtUpdateProfileCertificateCompanyName" onkeyup="validateUpdateProfileCertificate();" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Data</label>
                <textarea style="height:100px" required id="txtUpdateProfileCertificateData" onkeyup="validateUpdateProfileCertificate();" class="form-control"></textarea>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Serial</label>
                <textarea style="height:100px" required type="text" id="txtUpdateProfileCertificateSerial" onkeyup="validateUpdateProfileCertificate();" class="form-control"></textarea>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Key Alias</label>
                <textarea style="height:100px" required type="text" id="txtUpdateProfileCertificateKeyAlias" onkeyup="validateUpdateProfileCertificate();" class="form-control"></textarea>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Start Date</label>
                <input type="text" id="txtUpdateProfileCertificateStartDate" onkeyup="validateUpdateProfileCertificate();" class="form-control flatpickr-date-time" placeholder="YYYY-MM-DD HH:MM">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>End Date</label>
                <input type="text" id="txtUpdateProfileCertificateEndDate" onkeyup="validateUpdateProfileCertificate();" class="form-control flatpickr-date-time" placeholder="YYYY-MM-DD HH:MM">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleUpdateProfileCertificate" checked />
                    <label class="custom-control-label" for="toggleUpdateProfileCertificate">Is Active</label>
                </div>
            </div>
        </div>
    </div>
</form>

