<form class="form form-vertical">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>HSMName</label>
                <input disabled type="text" id="txtUpdateProfileCertificateHSMName" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>HSMSerial</label>
                <input disabled type="text" id="txtUpdateProfileCertificatHSMSerial" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>CertificateSerial</label>
                <input disabled type="text" id="txtUpdateProfileCertificateSerial" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>KeyAlias</label>
                <input disabled type="text" id="txtUpdateProfileCertificateKeyAlias" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Start Date</label>
                <input disabled type="text" id="txtUpdateProfileCertificateStartDate" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>End Date</label>
                <input disabled type="text" id="txtUpdateProfileCertificateEndDate" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleUpdateProfileCertificate" checked />
                    <label class="custom-control-label" for="toggleUpdateProfileCertificate">Is Active</label>
                </div>
            </div>
        </div>
    </div>
</form>

