@{
    ViewData["Title"] = "Config PdfSign";
    Layout = null;
}

<script src="~/assets/validate/ConfigPdfSignValidate.js"></script>


@* [Begin] Modal Create *@
<div class="modal fade" tabindex="-1" role="dialog" id="modalInsertConfigPdfSign" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create @ViewData["Title"]</h5>
                <button type="button" class="close" onclick="fnInsertCancelConfigPdfSign();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("~/Views/ConfigPdfSign/_Create.cshtml")
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnInsertCancelConfigPdfSign();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnInsertConfigPdfSign();">Save changes</button>
            </div>
        </div>
    </div>
</div>

@* [End] Modal Create *@


<div class="modal fade" tabindex="-1" role="dialog" id="modalUpdateConfigPdfSign" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update @ViewData["Title"]</h5>
                <button type="button" class="close" onclick="fnUpdateCancelConfigPdfSign();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("~/Views/ConfigPdfSign/_Update.cshtml")
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnUpdateCancelConfigPdfSign();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnUpdateConfigPdfSign();">Save changes</button>
            </div>
        </div>
    </div>
</div>
