
<script src="~/assets/validate/ProfileReasonIssueValidate.js"></script>


<div class="row">
    <div class="col-md-12 col-12">
        <div class="form-group">
            <label>Data Source</label>
            <input autofocus disabled type="text" id="txtInsertProfileReasonIssueDataSource" onkeyup="validateInsertProfileReasonIssue();" class="form-control">
        </div>
    </div>


    <div class="col-md-12 col-12">
        <div class="form-group">
            <label>ERP Document Type</label>
            <input type="text" id="txtInsertProfileReasonIssueErpDocumentType" onkeyup="validateInsertProfileReasonIssue();" class="form-control">
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label>ERP Reason Code</label>
            <input type="text" id="txtInsertProfileReasonIssueErpReasonCode" onkeyup="validateInsertProfileReasonIssue();" class="form-control">
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label>Revenue Reason Code</label>
            <input type="text" id="txtInsertProfileReasonIssueRdReasonCode" onkeyup="validateInsertProfileReasonIssue();" class="form-control">
        </div>
    </div>


    <div class="col-md-12 col-12">
        <div class="form-group">
            <label>Description</label>
            <input type="text" id="txtInsertProfileReasonIssueDescription" onkeyup="validateInsertProfileReasonIssue();" class="form-control">
        </div>
    </div>

    <div class="col-md-12 col-12">
        <div class="form-group">
            <div class="custom-control custom-control-primary custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="toggleInsertProfileReasonIssueIsActive" checked />
                <label class="custom-control-label" for="toggleInsertProfileReasonIssueIsActive">Is Active</label>
            </div>
        </div>
    </div>

</div>
