@{
    Layout = null;
}

<form class="form">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Company Code</label>
                <select class="select2 form-control" id="ddlInsertProfileSellerCompanyCode"></select>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Branch</label>
                <input type="text" id="txtInsertProfileSellerBranch" class="form-control">
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Address no.</label>
                <input type="text" id="txtInsertProfileSellerAddressNo" class="form-control">
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Building</label>
                <input type="text" id="txtInsertProfileSellerBuilding" class="form-control">
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Road</label>
                <input type="text" id="txtInsertProfileSellerRoad" class="form-control">
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Province</label>
                <select class="select2 form-control" id="ddlInsertProfileSellerProvince"></select>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>District</label>
                <select class="select2 form-control" id="ddlInsertProfileSellerDistrict"></select>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Sub-District</label>
                <select class="select2 form-control" id="ddlInsertProfileSellerSubDistrict"></select>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Seller email</label>
                <input type="text" id="txtInsertProfileSellerEmail" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Email Template</label>
                <select class="select2 form-control" id="ddlInsertProfileSellerEmailTemplate"></select>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleInsertProfileSeller" />
                    <label class="custom-control-label" for="toggleInsertProfileSeller">Is Active</label>
                </div>

                @*<div class="control-label">Toggle switch IsActive</div>
                    <input id="toggleInsertProfileSeller" checked type="checkbox" data-toggle="toggle">
                    <div id="toggleInsertProfileSeller-event"></div>*@
            </div>
        </div>

        <hr>

        <div class="col-12 pull-right">
            <button type="reset" class="btn btn-primary mr-1">Submit</button>
            <button type="reset" class="btn btn-outline-secondary">Reset</button>
        </div>
    </div>
</form>