@{
    ViewData["Title"] = "Document Code";
    Layout = null;
}

<script src="~/assets/validate/ProfileSellerValidate.js"></script>


@* [Begin] Modal Create *@
<div class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalCreateProfileSeller" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create @ViewData["Title"]</h5>
                <button type="button" class="close" onclick="fnInsertCancelProfileSeller();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Company Code</label>
                                    <select class="select2 form-control" id="ddlInsertProfileSellerCompanyCode"></select>
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Branch</label>
                                    <input type="text" id="txtInsertProfileSellerBranch" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Address no.</label>
                                    <input type="text" id="txtInsertProfileSellerAddressNo" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Building</label>
                                    <input type="text" id="txtInsertProfileSellerBuilding" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Road</label>
                                    <input type="text" id="txtInsertProfileSellerRoad" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Province</label>
                                    <select class="select2 form-control" id="ddlInsertProfileSellerProvince"></select>
                                </div>

                                 <div class="form-group">
                                    <label><spa class="text-danger">* </spa>District</label>
                                    <select class="select2 form-control" id="ddlInsertProfileSellerDistrict"></select>
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Sub-District</label>
                                    <select class="select2 form-control" id="ddlInsertProfileSellerSubDistrict"></select>
                                </div>

                                 <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Seller email</label>
                                    <input type="text" id="txtInsertProfileSellerEmail" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Email Template</label>
                                    <select class="select2 form-control" id="ddlInsertProfileSellerEmailTemplate"></select>
                                </div>

                                <div class="form-group">
                                    <div class="control-label">Toggle switch IsActive</div>
                                    <input id="toggleInsertProfileSeller" checked type="checkbox" data-toggle="toggle">
                                    <div hidden id="toggleInsertProfileSeller-event"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnInsertCancelProfileSeller();" >Close</button>
                <button type="button" class="btn btn-primary" onclick="fnInsertProfileSeller();">Save changes</button>
            </div>
        </div>
    </div>
</div>

@* [End] Modal Create *@


<div class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalUpdateProfileSeller" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update @ViewData["Title"]</h5>
               @* <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group" hidden>
                                    <label>No</label>
                                    <input disabled type="text" id="txtUpdateProfileSellerNo" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Company Code</label>
                                    <select class="select2 form-control" id="ddlUpdateProfileSellerCompanyCode"></select>
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Branch</label>
                                    <input type="text" id="txtUpdateProfileSellerBranch" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Address no.</label>
                                    <input type="text" id="txtUpdateProfileSellerAddressNo" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Building</label>
                                    <input type="text" id="txtUpdateProfileSellerBuilding" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Road</label>
                                    <input type="text" id="txtUpdateProfileSellerRoad" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Province</label>
                                    <select class="select2 form-control" id="ddlUpdateProfileSellerProvince"></select>
                                </div>

                                 <div class="form-group">
                                    <label><spa class="text-danger">* </spa>District</label>
                                    <select class="select2 form-control" id="ddlUpdateProfileSellerDistrict"></select>
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Sub-District</label>
                                    <select class="select2 form-control" id="ddlUpdateProfileSellerSubDistrict"></select>
                                </div>

                                 <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Seller email</label>
                                    <input type="text" id="txtUpdateProfileSellerEmail" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Email Template</label>
                                    <select class="select2 form-control" id="ddlUpdateProfileSellerEmailTemplate"></select>
                                </div>

                                <div class="form-group">
                                    <div class="control-label">Toggle switch IsActive</div>
                                    <input id="toggleUpdateProfileSeller" checked type="checkbox" data-toggle="toggle">
                                    <div hidden id="toggleUpdateProfileSeller-event"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnUpdateCancelProfileSeller()">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnUpdateProfileSeller();">Save changes</button>
            </div>
        </div>
    </div>
</div>
