@{
    Layout = null;
}
@if (ViewBag.showVIEW == true)
{
    <h2 class="section-title">@ViewData["Title"] Table</h2>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-end align-items-center">
                    @if (ViewBag.showCREATE == true)
                    {
                        <a id="btnCallModalCreateDataSource" onclick="createProfileDataSource();" data-toggle="modal" data-target="#modalCreateDataSource" class="pointer btn btn-icon icon-left text-white btn-primary">
                            <i class="fas fa-plus"></i> Create New
                        </a>
                    }
                    &nbsp;&nbsp;
                    @*<a id="btnExportData" onclick="ExportDataSource()" class="pointer btn btn-icon icon-left text-white btn-success">
                        <i class="fas fa-file-export"></i> Export (.csv)
                        </a>*@
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped hover table-hover-animation" id="tbDataSourceMain">
                            <thead>
                                <tr>
                                    <th class="text-center">PK Key</th>
                                    <th class="text-center">No</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>IsActive</th>
                                    <th></th>
                                    @*                                <th></th>

                                    *@
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


