<form class="form form-vertical">
    <div class="row">

         <div class="col-md-6 col-12" hidden>
            <div class="form-group">
                <label><spa class="text-danger">* </spa> No </label>
                <input disabled type="text" id="txtUpdateConfigMftsCompressXmlSettingNo" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Company Code</label>
                <input disabled type="text" id="txtUpdateConfigMftsCompressXmlSettingCompanyCode" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa> Data Source </label>
                <select class="select2 form-control" id="ddlUpdateConfigMftsCompressXmlSettingDataSource"></select>
            </div>
        </div>


        <div class="col-md-12 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa> Compress Type </label>
                <select class="select2 form-control" id="ddlUpdateConfigMftsCompressXmlSettingCompressType" onchange="onChangeUpdateMftsXmlCompressType(this)">
                    <option value="FOLDER">Folder</option>
                    <option value="FTP">Ftp</option>
                </select>
            </div>
        </div>

        <div class="col-md-12 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Input Folder</label>
                @*<input type="text" id="txtUpdateConfigMftsCompressXmlSettingInputFolder" onclick="fnOpenGetPathServerModal('txtUpdateConfigMftsCompressXmlSettingInputFolder')" class="form-control">*@
                <input type="text" id="txtUpdateConfigMftsCompressXmlSettingInputFolder" class="form-control">
            </div>
        </div>

        <div class="col-md-12 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Output Folder</label>
                @*<input type="text" id="txtUpdateConfigMftsCompressXmlSettingOutputFolder" onclick="fnOpenGetPathServerModal('txtUpdateConfigMftsCompressXmlSettingOutputFolder')" class="form-control">*@
                <input type="text" id="txtUpdateConfigMftsCompressXmlSettingOutputFolder" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Host</label>
                <input disabled type="text" id="txtUpdateConfigMftsCompressXmlSettingHost" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Port</label>
                <input disabled type="text" id="txtUpdateConfigMftsCompressXmlSettingPort" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Username</label>
                <input disabled type="text" id="txtUpdateConfigMftsCompressXmlSettingUsername" class="form-control">
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Password</label>
                <input disabled type="password" id="txtUpdateConfigMftsCompressXmlSettingPassword" class="form-control">
            </div>
        </div>



        <div class="col-md-12 col-12">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" checked class="custom-control-input" id="toggleUpdateConfigMftsCompressXmlSettingIsActive" />
                    <label class="custom-control-label" for="toggleUpdateConfigMftsCompressXmlSettingIsActive">Is Active</label>
                </div>
            </div>
        </div>
    </div>
</form>