<form class="form form-vertical">
    <div class="row">

        <div class="col-md-12 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Company Code</label>
                <input disabled type="text" id="txtInsertConfigMftsIndexGenerationSettingInputCompanyCode" class="form-control">
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa> Input Source Name </label>
                <select class="select2 form-control" id="ddlInsertConfigMftsIndexGenerationSettingInputSourceName"></select>
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa> Output Source Name </label>
                <select class="select2 form-control" id="ddlInsertConfigMftsIndexGenerationSettingInputOutputSourceName"></select>
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa> OC Type </label>
                <select class="select2 form-control" id="ddlInsertConfigMftsIndexGenerationSettingInputOCType"></select>
            </div>
        </div>


        <div class="col-md-12 col-12">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" checked class="custom-control-input" id="toggleInsertConfigMftsIndexGenerationSettingInputIsActive" />
                    <label class="custom-control-label" for="toggleInsertConfigMftsIndexGenerationSettingInputIsActive">Is Active</label>
                </div>
            </div>
        </div>

    </div>
</form>