@{
    ViewData["Title"] = "ZipFileType";
    Layout = null;
}

<script src="~/assets/validate/ZipFileTypeValidate.js"></script>


@* [Begin] Modal Create *@
<div class="modal fade" tabindex="-1" role="dialog" id="modalCreateZipFileType" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create @ViewData["Title"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Code</label>
                                    <input type="text" id="txtInsertZipFileTypeCode" onkeyup="validateInsertZipFileType();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" id="txtInsertZipFileTypeName" onkeyup="validateInsertZipFileType();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" id="txtInsertZipFileTypeDescription" onkeyup="validateInsertZipFileType();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <div class="control-label">Toggle switch IsActive</div>
                                    <input id="toggleInsertZipFileType" checked type="checkbox" data-toggle="toggle">
                                    <div hidden id="toggleInsertZipFileType-event"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnInsertCancelZipFileType();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnInsertZipFileType();">Save changes</button>
            </div>
        </div>
    </div>
</div>

@* [End] Modal Create *@


<div class="modal fade" tabindex="-1" role="dialog" id="modalUpdateZipFileType" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update @ViewData["Title"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group" hidden>
                                    <label>No</label>
                                    <input disabled type="text" id="txtUpdateZipFileTypeNo" class="form-control">
                                </div>


                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Code</label>
                                    <input type="text" id="txtUpdateZipFileTypeCode" onkeyup="validateUpdateZipFileType();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" id="txtUpdateZipFileTypeName" onkeyup="validateUpdateZipFileType();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" id="txtUpdateZipFileTypeDescription" onkeyup="validateUpdateZipFileType();" class="form-control">
                                </div>


                                <div class="form-group">
                                    <div class="control-label">Toggle switch IsActive</div>
                                    <input id="toggleUpdateZipFileType" type="checkbox" data-toggle="toggle">
                                    <div hidden id="toggleUpdateZipFileType-event"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnUpdateCancelZipFileType();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnUpdateZipFileType();">Save changes</button>
            </div>
        </div>
    </div>
</div>
