@{
    ViewData["Title"] = "Revenue Document";
    Layout = null;
}

    <script src="~/assets/validate/RdDocumentValidate.js"></script>


@* [Begin] Modal Create *@
<div class="modal fade" tabindex="-1" role="dialog" id="modalCreateRdDocument" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create @ViewData["Title"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Document Code</label>
                                    <input type="text" id="txtInsertRdDocumentCode" onkeyup="validateInsertRdDocument();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Name (TH)</label>
                                    <input type="text" id="txtInsertRdDocumentNameTH" onkeyup="validateInsertRdDocument();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Name (EN)</label>
                                    <input type="text" id="txtInsertRdDocumentNameEN" onkeyup="validateInsertRdDocument();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <div class="control-label">Toggle switch IsActive</div>
                                    <input id="toggleInsertRdDocument" checked type="checkbox" data-toggle="toggle">
                                    <div hidden id="toggleInsertRdDocument-event"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnInsertRdDocument();">Save changes</button>
            </div>
        </div>
    </div>
</div>

@* [End] Modal Create *@


<div class="modal fade" tabindex="-1" role="dialog" id="modalUpdateRdDocument" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update @ViewData["Title"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group" hidden>
                                    <label>No</label>
                                    <input disabled type="text" id="txtUpdateRdDocumentNo" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Document Code</label>
                                    <input disabled type="text" id="txtUpdateRdDocumentCode" onkeyup="validateUpdateRdDocument();" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><spa class="text-danger">* </spa>Name (TH)</label>
                                    <input type="text" id="txtUpdateRdDocumentNameTH" onkeyup="validateUpdateRdDocument();" onkeypress="return isKeyTH(event.keyCode);" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Name (EN)</label>
                                    <input type="text" id="txtUpdateRdDocumentNameEN" onkeyup="validateUpdateRdDocument();" onkeypress="return isKeyEN(event.keyCode);" class="form-control">
                                </div>


                                <div class="form-group">
                                    <div class="control-label">Toggle switch IsActive</div>
                                    <input id="toggleUpdateRdDocument" type="checkbox" data-toggle="toggle">
                                    <div hidden id="toggleUpdateRdDocument-event"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnUpdateRdDocument();">Save changes</button>
            </div>
        </div>
    </div>
</div>
