<form class="form form-vertical">
    <div class="row">

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>NAME</label>
                <input type="text" id="txtInsertMenuName" onkeyup="validateInsertConfigControlMenu();" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>VALUE</label>
                <input type="text" id="txtInsertMenuValue" onkeyup="validateInsertConfigControlMenu();" class="form-control text-uppercase">
            </div>
        </div>


    </div>
</form>

