<form class="form form-vertical">
    <div class="row">

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>FUNCTION NAME</label>
                <input type="text" id="txtInsertFunctionName" onkeyup="validateInsertConfigControlFunction();" class="form-control text-uppercase">
            </div>
        </div>


    </div>
</form>

