<section id="faq-tabs">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="faq-payment" aria-labelledby="payment" aria-expanded="true">

                    <div class="collapse-margin collapse-icon mt-2" id="faq-payment-qna">
                        <div class="card">
                            <div class="card-header" id="paymentTwo" data-toggle="collapse" role="button" data-target="#faq-payment-two" aria-expanded="true" aria-controls="faq-payment-two">
                                <span class="lead collapse-title">Search</span>
                            </div>
                            <div id="faq-payment-two" class="collapse show" aria-labelledby="paymentTwo" data-parent="#faq-payment-qna">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Company Code</label>
                                                <select class="select2 form-control" id="outputSearchPrintingCustomerCode" multiple>
                                                    <option value="All">-- All -- </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Printing Zip Date </label>
                                                <input type="text" id="outputSearchPrintingDate" class="form-control flatpickr-date-time" placeholder="DD-MM-YYYY">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Download status</label>
                                                <select class="select2 form-control" id="outputSearchPrintingStatus">
                                                    <option value="All">-- All -- </option>
                                                    <option value="1">-- Downloaded -- </option>
                                                    <option value="0">-- No downloads -- </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">

                                        </div>

                                        <div class="col-sm-4">
                                            <a class="btn btn-primary btn-block" onclick="fnSearchOutputPrint();"> Search </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>