@{
    ViewData["Title"] = "ProfileEmailType";
    Layout = null;
}

<script src="~/assets/validate/ProfileEmailTypeValidate.js"></script>


@* [Begin] Modal Create *@
<div class="modal fade" tabindex="-1" role="dialog" id="modalCreateProfileEmailType" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create @ViewData["Title"]</h5>
                <button type="button" class="close" onclick="fnInsertCancelProfileEmailType();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("~/Views/ProfileEmailType/_Create.cshtml")
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnInsertCancelProfileEmailType();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnInsertProfileEmailType();">Save changes</button>
            </div>
        </div>
    </div>
</div>

@* [End] Modal Create *@


<div class="modal fade" tabindex="-1" role="dialog" id="modalUpdateProfileEmailType" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update @ViewData["Title"]</h5>
                <button type="button" class="close" onclick="fnUpdateCancelProfileEmailType();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("~/Views/ProfileEmailType/_Update.cshtml")
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnUpdateCancelProfileEmailType();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnUpdateProfileEmailType();">Save changes</button>
            </div>
        </div>
    </div>
</div>
