@{
    Layout = null;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-end align-items-center">
                <a id="btnCallModalCreateConfigMftsEmailSetting" onclick="callModalInsertConfigMftsEmailSetting();" class="pointer btn btn-icon icon-left text-white btn-primary">
                    <i class="fas fa-plus"></i> Create New
                </a>
                &nbsp;&nbsp;
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-hover-animation" id="tbConfigMftsEmailSettingMain">
                        <thead>
                            <tr>
                                <th class="text-center">PK Key</th>
                                <th class="text-center">No</th>
                                <th>Company</th>
                                <th>Email</th>
                                <th></th>
                                <th></th>
                                <th>IsActive</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



