<form class="form form-vertical">
    <div class="row">

        <div class="col-md-12 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Company Code</label>
                <input disabled type="text" id="txtInsertConfigMftsCompressPrintSettingCompanyCode" class="form-control">
            </div>
        </div>


        <div class="col-md-12 col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Output PDF Print Folder</label>
                <input type="text" id="txtInsertConfigMftsCompressPrintSettingFolder" class="form-control">
            </div>
        </div>

        <div class="col-md-12 col-12">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" checked class="custom-control-input" id="toggleInsertConfigMftsCompressPrintSettingIsActive" />
                    <label class="custom-control-label" for="toggleInsertConfigMftsCompressPrintSettingIsActive">Is Active</label>
                </div>
            </div>
        </div>

    </div>
</form>