@{
    ViewData["Title"] = "ConfigMftsCompressPrintSetting";
    Layout = null;
}

<script src="~/assets/validate/ConfigMftsCompressPrintSettingValidate.js"></script>


@* [Begin] Modal Create *@
<div class="modal fade" tabindex="-1" role="dialog" id="modalCreateConfigMftsCompressPrintSetting" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create @ViewData["Title"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("~/Views/ConfigMftsCompressPrintSetting/_Create.cshtml")
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnInsertCancelConfigMftsCompressPrintSetting();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnInsertConfigMftsCompressPrintSetting();">Save changes</button>
            </div>
        </div>
    </div>
</div>

@* [End] Modal Create *@


<div class="modal fade" tabindex="-1" role="dialog" id="modalUpdateConfigMftsCompressPrintSetting" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update @ViewData["Title"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               @await Html.PartialAsync("~/Views/ConfigMftsCompressPrintSetting/_Update.cshtml")
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnUpdateCancelConfigMftsCompressPrintSetting();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnUpdateConfigMftsCompressPrintSetting();">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalUpdateConfigMftsCompressPrintSettingOneTime" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Config One Time</h5>
                <button type="button" class="close" onclick="fnUpdateCancelConfigMftsCompressPrintSettingOneTime();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("~/Views/ConfigMftsCompressPrintSetting/_OneTime.cshtml")
            </div>
            <div class="modal-footer bg-whitesmoke br">
                @*<button type="button" class="btn btn-secondary" onclick="fnUpdateCancelConfigMftsEmailSettingOneTime();">Close</button>*@
                @*<button type="button" class="btn btn-primary" onclick="fnUpdateConfigMftsEmailSettingOneTime();">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalUpdateConfigMftsCompressPrintSettingAnyTime" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Config Any Time</h5>
                <button type="button" class="close" onclick="fnUpdateCancelConfigMftsCompressPrintSettingAnyTime();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("~/Views/ConfigMftsCompressPrintSetting/_AnyTime.cshtml")
            </div>
            <div class="modal-footer bg-whitesmoke br">
                @*<button type="button" class="btn btn-secondary" onclick="fnUpdateCancelConfigMftsEmailSettingAnyTime();">Close</button>*@
                @*<button type="button" class="btn btn-primary" onclick="fnUpdateConfigMftsEmailSettingAnyTime();">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

