<form class="form form-vertical">
    <div class="row">

        <div class="col-12" hidden>
            <div class="form-group">
                <label><spa class="text-danger">* </spa>NO</label>
                <input type="text" id="txtUpdateFunctionNo" onkeyup="validateUpdateConfigControlFunction();" class="form-control">
            </div>
        </div>

      <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>MENU NAME</label>
                <input type="text" disabled id="txtUpdateFunctionName" onkeyup="validateUpdateConfigControlFunction();" class="form-control text-uppercase">
            </div>
        </div>


    </div>
</form>

