<form class="form form-vertical">
    <div class="row">

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Customer Id</label>
                <input type="text" id="txtInsertCustomerId" maxlength="20" onkeyup="validateInsertProfileCustomer();" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Company Code</label>
                <select class="select2 form-control" id="ddlInsertCompanyCode"></select>
            </div>
        </div>

        <hr />

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Select Output type</label>
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input onchange="onChangeInsertProfileCustomerPrint()" type="checkbox" class="custom-control-input" id="toggleInsertProfileCustomerPrint" />
                    <label class="custom-control-label" for="toggleInsertProfileCustomerPrint">Print to spool</label>
                </div>
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpInsertNumberOfCopies">
                <label><spa class="text-danger">* </spa>Number of copies</label>
                <input type="number" id="txtInsertNumberOfCopies" value="0" onkeyup="validateInsertProfileCustomer();" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Email setting</label>
            </div>
        </div>


        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" onchange="onChangeInsertProfileCustomerEmail()" class="custom-control-input" id="toggleInsertProfileCustomerEmail" />
                    <label class="custom-control-label" for="toggleInsertProfileCustomerEmail">Sending email</label>
                </div>
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>


        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpInsertEmail">
                <label><spa class="text-danger">* </spa>To : </label>
                <input type="text" id="txtInsertCustomerEmail" onkeyup="validateInsertProfileCustomer();" class="form-control">
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpInsertCcEmail">
                <label><spa class="text-danger">* </spa>CC : </label>
                <input type="text" id="txtInsertCustomerCCEmail" onkeyup="validateInsertProfileCustomer();" class="form-control">
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpInsertFileAttach">
                <label><spa class="text-danger">* </spa>File attachment</label>
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpInsertSingedPdf">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleInsertProfileCustomerFileSignedPdf" checked />
                    <label class="custom-control-label" for="toggleInsertProfileCustomerFileSignedPdf">with Signed PDF</label>
                </div>
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpInsertSingedXml">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleInsertProfileCustomerFileSignedXml" checked />
                    <label class="custom-control-label" for="toggleInsertProfileCustomerFileSignedXml">with Signed XML</label>
                </div>
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpInsertEmailType">
                <label><spa class="text-danger">* </spa>Email Type</label>
                <select class="select2 form-control" id="ddlInsertEmailType"></select>
            </div>
        </div>

        <div class="col-md-1 col-12">
        </div>

        <div class="col-md-11 col-12">
            <div class="form-group hidden" id="grpInsertEmailTemplate">
                <label><spa class="text-danger">* </spa>Email Template</label>
                <select class="select2 form-control" id="ddlInsertEmailTemplate"></select>
            </div>
        </div>




        <div class="col-12">
            <div class="form-group">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleInsertProfileCustomer" checked />
                    <label class="custom-control-label" for="toggleInsertProfileCustomer">Is Active</label>
                </div>
            </div>
        </div>

    </div>
</form>

