
<script src="~/assets/validate/ConfigXmlSignValidate.js"></script>

<form class="form form-vertical">
<div class="row">

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Company Code </label>
            <input type="text" disabled id="txtInsertConfigXmlSignCompanyCode" class="form-control">
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Tax Number </label>
            <input type="text" disabled id="txtInsertConfigXmlSignTaxNumber" class="form-control">
        </div>
    </div>

    <div class="col-md-12 col-12">
        <div class="form-group">
            <div class="custom-control custom-control-primary custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="toggleInsertConfigXmlSignIsBatch" onclick="onChangeBathXmlSign();" />
                <label class="custom-control-label" for="toggleInsertConfigXmlSignIsBatch">Batch</label>
            </div>
        </div>
    </div>

    <div class="col-md-1 col-12">
    </div>

    <div class="col-md-5 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Input Source </label>
            <select disabled class="select2 form-control" id="ddlInsertConfigXmlSignInputSource"></select>
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Input Path </label>
                <input disabled type="text" id="txtInsertConfigXmlSignInputPath" onclick="fnOpenGetPathServerModal('txtInsertConfigXmlSignInputPath')" onkeyup="validateInsertConfigXmlSign()" class="form-control">
        </div>
    </div>

    <div class="col-md-1 col-12">
    </div>

    <div class="col-md-5 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Convert Source </label>
            <select disabled class="select2 form-control" id="ddlInsertConfigXmlSignOutputConvertSource"></select>
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Convert Path </label>
                <input disabled type="text" id="txtInsertConfigXmlSignOutputConvertPath" onclick="fnOpenGetPathServerModal('txtInsertConfigXmlSignOutputConvertPath')" onkeyup="validateInsertConfigXmlSign()" class="form-control">
        </div>
    </div>


    <div class="col-md-12 col-12">
        <div class="form-group">
            <div class="custom-control custom-control-primary custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="toggleInsertConfigXmlSignIsOnline" onclick="onChangeOnlineXmlSign();" />
                <label class="custom-control-label" for="toggleInsertConfigXmlSignIsOnline">Online</label>
            </div>
        </div>
    </div>

    <div class="col-md-1 col-12">
    </div>

    <div class="col-md-11 col-12">
        <div class="form-group">
            <label>Online Record Number</label>
            <input disabled type="text" id="txtInsertConfigXmlSignOnlineRecordNumber" onkeyup="validateInsertConfigXmlSign()" class="form-control">
        </div>
    </div>
    
    <div class="col-md-1 col-12">
    </div>

    <div class="col-md-5 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Source </label>
            <select disabled class="select2 form-control" id="ddlInsertConfigXmlSignOutputSource"></select>
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Path </label>
                <input disabled type="text" id="txtInsertConfigXmlSignOutputPath" onclick="fnOpenGetPathServerModal('txtInsertConfigXmlSignOutputPath')" onkeyup="validateInsertConfigXmlSign()" class="form-control">
        </div>
    </div>


    <div class="col-md-4 col-12">
    </div>


    <div class="col-md-4 col-12">
    </div>


    <div class="col-md-4 col-12">
    </div>


    <div class="col-md-12 col-12">
        <div class="form-group">
            <div class="custom-control custom-control-primary custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="toggleInsertConfigXmlSignIsActive" checked />
                <label class="custom-control-label" for="toggleInsertConfigXmlSignIsActive">Is Active</label>
            </div>
        </div>
    </div>

</div>
</form>
