
<script src="~/assets/validate/ConfigXmlSignValidate.js"></script>


<div class="row">

    <div class="col-md-12 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Customer Code </label>
            <input type="text" disabled id="txtUpdateConfigXmlSignCustomerCode" onkeyup="validateUpdateProductUnit();" class="form-control">
        </div>
    </div>

    <div class="col-md-12 col-12">
        <div class="form-group">
            <div class="custom-control custom-control-primary custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="toggleUpdateConfigXmlSignIsBatch" onclick="onChangeBath();" />
                <label class="custom-control-label" for="toggleUpdateConfigXmlSignIsBatch">Batch</label>
            </div>
        </div>
    </div>

    <div class="col-md-1 col-12">
    </div>

    <div class="col-md-5 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Input Source </label>
            <input disabled type="text" id="txtUpdateConfigXmlSignInputSource" onkeyup="validateUpdateConfigXmlSign()" class="form-control">
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Input Path </label>
            <input disabled type="text" id="txtUpdateConfigXmlSignInputPath" onkeyup="validateUpdateConfigXmlSign()" class="form-control">
        </div>
    </div>

    <div class="col-md-1 col-12">
    </div>

    <div class="col-md-5 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Source </label>
            <input disabled type="text" id="txtUpdateConfigXmlSignOutputSource" onkeyup="validateUpdateConfigXmlSign()" class="form-control">
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Source </label>
            <input disabled type="text" id="txtUpdateConfigXmlSignOutputPath" onkeyup="validateUpdateConfigXmlSign()" class="form-control">
        </div>
    </div>



    <div class="col-md-1 col-12">
    </div>

    <div class="col-md-5 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Convert Source </label>
            <input disabled type="text" id="txtUpdateConfigXmlSignOutputConvertSource" onkeyup="validateUpdateConfigXmlSign()" class="form-control">
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Convert Path </label>
            <input disabled type="text" id="txtUpdateConfigXmlSignOutputConvertPath" onkeyup="validateUpdateConfigXmlSign()" class="form-control">
        </div>
    </div>


    <div class="col-md-12 col-12">
        <div class="form-group">
            <div class="custom-control custom-control-primary custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="toggleUpdateConfigXmlSignIsOnline" onclick="onChangeOnline();" />
                <label class="custom-control-label" for="toggleUpdateConfigXmlSignIsOnline">Online</label>
            </div>
        </div>
    </div>

    <div class="col-md-1 col-12">
    </div>

    <div class="col-md-11 col-12">
        <div class="form-group">
            <label>Online Record Number</label>
            <input disabled type="text" id="txtUpdateConfigXmlSignOnlineRecordNumber" onkeyup="validateUpdateConfigXmlSign()" class="form-control">
        </div>
    </div>


    <div class="col-md-4 col-12">
    </div>


    <div class="col-md-4 col-12">
    </div>


    <div class="col-md-4 col-12">
    </div>


    <div class="col-md-12 col-12">
        <div class="form-group">
            <div class="custom-control custom-control-primary custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="toggleUpdateConfigXmlSignIsActive" checked />
                <label class="custom-control-label" for="toggleUpdateConfigXmlSignIsActive">Is Active</label>
            </div>
        </div>
    </div>

</div>
