
<script src="~/assets/validate/ConfigXmlSignValidate.js"></script>

<form class="form form-vertical">
<div class="row">


    <div class="col-md-12 col-12" hidden>
        <div class="form-group">
            <label><spa class="text-danger">* </spa> No </label>
            <input type="text" disabled id="txtUpdateConfigXmlSignNo" class="form-control">
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Company Code </label>
            <input type="text" disabled id="txtUpdateConfigXmlSignCompanyCode" class="form-control">
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Tax Number </label>
            <input type="text" disabled id="txtUpdateConfigXmlSignTaxNumber" class="form-control">
        </div>
    </div>

    <div class="col-md-12 col-12">
        <div class="form-group">
            <div class="custom-control custom-control-primary custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="toggleUpdateConfigXmlSignIsBatch" onclick="onChangeBathXmlSignUpdate();" />
                <label class="custom-control-label" for="toggleUpdateConfigXmlSignIsBatch">Batch</label>
            </div>
        </div>
    </div>

    <div class="col-md-1 col-12">
    </div>

    <div class="col-md-5 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Input Source </label>
            <select disabled class="select2 form-control" id="ddlUpdateConfigXmlSignInputSource"></select>
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Input Path </label>
                <input disabled type="text" id="txtUpdateConfigXmlSignInputPath" onclick="fnOpenGetPathServerModal('txtUpdateConfigXmlSignInputPath')" onkeyup="validateUpdateConfigXmlSign()" class="form-control">
        </div>
    </div>

    <div class="col-md-1 col-12">
    </div>

    <div class="col-md-5 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Source </label>
            <select disabled class="select2 form-control" id="ddlUpdateConfigXmlSignOutputSource"></select>
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Path </label>
                <input disabled type="text" id="txtUpdateConfigXmlSignOutputPath" onclick="fnOpenGetPathServerModal('txtUpdateConfigXmlSignOutputPath')" onkeyup="validateUpdateConfigXmlSign()" class="form-control">
        </div>
    </div>



    <div class="col-md-1 col-12">
    </div>

    <div class="col-md-5 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Convert Source </label>
            <select disabled class="select2 form-control" id="ddlUpdateConfigXmlSignOutputConvertSource"></select>
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            <label><spa class="text-danger">* </spa> Output Convert Path </label>
                <input disabled type="text" id="txtUpdateConfigXmlSignOutputConvertPath" onclick="fnOpenGetPathServerModal('txtUpdateConfigXmlSignOutputConvertPath')" onkeyup="validateUpdateConfigXmlSign()" class="form-control">
        </div>
    </div>


    <div class="col-md-12 col-12">
        <div class="form-group">
            <div class="custom-control custom-control-primary custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="toggleUpdateConfigXmlSignIsOnline" onclick="onChangeOnlineXmlSignUpdate();" />
                <label class="custom-control-label" for="toggleUpdateConfigXmlSignIsOnline">Online</label>
            </div>
        </div>
    </div>

    <div class="col-md-1 col-12">
    </div>

    <div class="col-md-11 col-12">
        <div class="form-group">
            <label>Online Record Number</label>
            <input disabled type="text" id="txtUpdateConfigXmlSignOnlineRecordNumber" onkeyup="validateUpdateConfigXmlSign()" class="form-control">
        </div>
    </div>


    <div class="col-md-4 col-12">
    </div>


    <div class="col-md-4 col-12">
    </div>


    <div class="col-md-4 col-12">
    </div>


    <div class="col-md-12 col-12">
        <div class="form-group">
            <div class="custom-control custom-control-primary custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="toggleUpdateConfigXmlSignIsActive" checked />
                <label class="custom-control-label" for="toggleUpdateConfigXmlSignIsActive">Is Active</label>
            </div>
        </div>
    </div>

</div>
</form>