@{
    Layout = null;
}
<form class="form form-vertical">
<section class="app-user-edit">
    <div class="card">
        <div class="card-body">
            <div class="tab-content">
                <!-- Account Tab starts -->
                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">

                    <!-- users edit account form start -->
                    <form class="form-validate">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input type="email" class="form-control" id="txtInsertProfileUserManagementEmail" value="" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtInsertProfileUserManagementName">Name</label>
                                    <input type="text" class="form-control" id="txtInsertProfileUserManagementName" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtInsertProfileUserManagementLastName">Last name</label>
                                    <input type="text" class="form-control" id="txtInsertProfileUserManagementLastName"  />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtInsertProfileUserManagementPassword">Password</label>
                                    <input type="password" class="form-control" id="txtInsertProfileUserManagementPassword" value=""  />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtInsertProfileUserManagementComfirmPassword">Comfirm Password</label>
                                    <input type="password" class="form-control" id="txtInsertProfileUserManagementComfirmPassword" value=""  />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="role">User Level</label>
                                    <select class="select2 form-control" id="ddlInsertUserLevel">
                                        <option value="0">--- Select Level ---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><span class="text-danger">* </span>Group</label>
                                    <select class="select2 form-control" id="ddlInsertRoleGroup" data-placeholder="--- Select Group ---" multiple></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <select class="form-control" id="txtInsertstatus">
                                        <option value="1">Active</option>
                                        <option value="0">Blocked</option>
                                        <option value="0">Deactivated</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- users edit account form ends -->
                </div>
            </div>
        </div>
    </div>
</section>
</form>