@{
    Layout = null;
}

<div class="modal fade" tabindex="-1" role="dialog" id="modalCreateProfileUser" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create</h5>
                <button type="button" class="close" onclick="fnInsertCancelProfileUser();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @await Html.PartialAsync("~/Views/ProfileUserManagement/_Create.cshtml")

            </div>
            <div class="modal-footer bg-whitesmoke">
                <button type="button" class="btn btn-secondary" onclick="fnInsertCancelProfileUser();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnInsertProfileUser();">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modalUpdateProfileUser" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update</h5>
                <button type="button" class="close" onclick="fnUpdateCancelProfileUser();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                @await Html.PartialAsync("~/Views/ProfileUserManagement/_Update.cshtml")


            </div>
            <div class="modal-footer bg-whitesmoke">
                <button type="button" class="btn btn-secondary" onclick="fnUpdateCancelProfileUser();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnUpdateProfileUser();">Save changes</button>
            </div>
        </div>
    </div>
</div>