<form class="form form-vertical">
    <div class="row">

        <div class="col-12" hidden>
            <div class="form-group">
                <label>No</label>
                <input type="text" id="txtUpdateProfileUserGroupNo" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><span class="text-danger">* </span>Name</label>
                <input type="text" id="txtUpdateProfileUserGroupName" onkeyup="validateUpdateProfileUserGroup();" class="form-control text-uppercase">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label>Description</label>
                <input type="text" id="txtUpdateProfileUserGroupDescription" onkeyup="validateUpdateProfileUserGroup();" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><span class="text-danger">* </span>Role</label>
                <select class="select2 form-control" id="txtUpdateProfileUserGroupRoleId" multiple></select>
            </div>
        </div>
    </div>
</form>

