@model List<SCG.CAD.ETAX.MODEL.etaxModel.ConfigControlFunction>


<form class="form form-vertical">
    <div class="row">

        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Name</label>
                <input type="text" id="txtInsertUserRoleName" onkeyup="validateInsertProfileUserRole();" class="form-control">
            </div>
        </div>

        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <label>Description</label>
                <input type="text" id="txtInsertUserRoleDescription" onkeyup="validateInsertProfileUserRole();" class="form-control">
            </div>
        </div>

        <div class="col-md-12 col-lg-12 pt-4">
            <div class="form-group">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleInsertProfileUserRole" checked />
                    <label class="custom-control-label" for="toggleInsertProfileUserRole">Is Active</label>
                </div>
            </div>
        </div>



    </div>
</form>

