<form class="form form-vertical">
    <div class="row">

        <div class="col-12" hidden>
            <div class="form-group">
                <label><spa class="text-danger">* </spa>No</label>
                <input disabled type="text" id="txtUpdateUserRoleNo" class="form-control">
            </div>
        </div>

        
        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <label><spa class="text-danger">* </spa>Name</label>
                <input type="text" id="txtUpdateUserRoleName" onkeyup="validateUpdateProfileUserRole();" class="form-control">
            </div>
        </div>

        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <label>Description</label>
                <input type="text" id="txtUpdateUserRoleDescription" onkeyup="validateUpdateProfileUserRole();" class="form-control">
            </div>
        </div>

        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <div class="custom-control custom-control-primary custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="toggleUpdateProfileUserRole" checked />
                    <label class="custom-control-label" for="toggleUpdateProfileUserRole">Is Active</label>
                </div>
            </div>
        </div>

    </div>
</form>

