@{
    Layout = null;
}

<div class="row">
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-end align-items-center">
                @*                <a id="btnCallModalCreateTransaction" class="pointer btn btn-icon icon-left text-white btn-primary">
                    <i class="fas fa-plus"></i> Cerate New
                    </a>*@
                &nbsp;&nbsp;
                <a id="btnExportData" class="pointer btn btn-icon icon-left text-white btn-success">
                    <i class="fas fa-file-export"></i> Export (.csv)
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive-sm" id="sectionTransactionDescription">
                    <table class="table table-striped table-hover-animation table-hover" id="tbTransactionMain" style="font-size:12px">
                        <thead style="font-size:10px">
                            <tr>
                                <th></th>
                                <th style="font-size:10px" class="text-center">PK Key</th>
                                <th style="font-size:10px" class="text-center">No</th>
                                <th style="font-size:10px">Billing No.</th>
                                <th style="font-size:10px">Company</th>
                                <th style="font-size:10px">Sell Org.</th>
                                <th style="font-size:10px">Customer</th>
                                <th style="font-size:10px">XML Gen</th>
                                <th style="font-size:10px">XML Sign</th>
                                <th style="font-size:10px">PDF Sign</th>
                                <th style="font-size:10px">Print</th>
                                <th style="font-size:10px">Email</th>
                                <th style="font-size:10px">XML</th>
                                <th style="font-size:10px">Indexing</th>
                                <th style="font-size:10px">IsActive</th>
                                <th style="font-size:10px"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



