@{
    Layout = null;
}

@if (ViewBag.showADMINTOOL == true)
{
    <div class="row">
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- pill tabs tab content -->
        <div class="tab-content">
                <!-- admintool panel -->
            <div role="tabpanel" class="tab-pane active" id="faq-admintool" aria-labelledby="admintool" aria-expanded="true">

                    <!-- frequent answer and question  collapse  -->
                <div class="collapse-margin collapse-icon mt-2" id="faq-admintool-qna">

                        <div class="card">
                            <div class="card-header" id="TabReset" data-toggle="collapse" role="button" data-target="#faq-admintool-two" aria-expanded="true" aria-controls="faq-payment-two">
                                <span class="lead collapse-title">AdminTool</span>
                            </div>
                            <div id="faq-admintool-two" class="collapse show" aria-labelledby="TabReset" data-parent="#faq-admintool-qna">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-4 col-md-6 col-12 mb-1">
                                            <div class="form-group">
                                                <label for="helpInputTop" style="color:transparent">Sync Status (PDF Sign)</label>
                                                <br />
                                                <a class="btn btn-primary btn-block" onclick="fnSyncStatusPDFSign();"> Sync Status (PDF Sign) </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6 col-12 mb-1">
                                            <div class="form-group">
                                                <label for="helpInputTop" style="color:transparent">Sync Status (XML Sign)</label>
                                                <br />
                                                <a class="btn btn-primary btn-block" onclick="fnSyncStatusXMLSign();"> Sync Status (XML Sign) </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6 col-12 mb-1">
                                            <div class="form-group">
                                                <label for="helpInputTop" style="color:transparent">Reset Status (Print Zip)</label>
                                                <br />
                                                <a class="btn btn-primary btn-block" onclick="fnResetStatusPrintZip();"> Reset Status (Print Zip) </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6 col-12 mb-1">
                                            <div class="form-group">
                                                <label for="helpInputTop" style="color:transparent">Reset Status (XML Zip)</label>
                                                <br />
                                                <a class="btn btn-primary btn-block" onclick="fnResetStatusXMLZip();"> Reset Status (XML Zip) </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6 col-12 mb-1">
                                            <div class="form-group">
                                                <label for="helpInputTop" style="color:transparent">Reset Status (Indexing)</label>
                                                <br />
                                                <a class="btn btn-primary btn-block" onclick="fnResetStatusIndexing();"> Reset Status (Indexing) </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6 col-12 mb-1">
                                            <div class="form-group">
                                                <label for="helpInputTop" style="color:transparent">Resend Email</label>
                                                <br />
                                                <a class="btn btn-primary btn-block" onclick="fnResendEmail();"> Resend Email </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6 col-12 mb-1">
                                            <div class="form-group">
                                                <label for="helpInputTop" style="color:transparent">Multi Edit Posting Year</label>
                                                <br />
                                                <a class="btn btn-primary btn-block" onclick="fnModalMultiPostingYearOpen();"> Multi Edit Posting Year </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-end align-items-center">
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-12 mb-1">
                        <div class="form-group">
                            <a class="btn btn-primary btn-block" onclick="fnAddToCart()"> Add to Cart </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12 mb-1">
                        <div class="form-group">
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12 mb-1">
                        <div class="form-group">
                            <a class="btn btn-primary btn-block" onclick="fnExport()"> Export (.xlsx)  </a>
                        </div>
                    </div>
                </div>
                <div class="mb-0 table-responsive" id="sectionTransactionDescription">
                    <table class="table table-striped table-hover-animation table-hover" id="tbTransactionMain" style="font-size:12px;padding-bottom:15px;">
                        <thead style="font-size:10px">
                            <tr>
                                <th><input type="checkbox" id="dt-main-checkbox" onchange="fnMainCheckboxChange()"></th>
                                <th style="font-size:10px">Billing No.</th>
                                <th style="font-size:10px">Posting year</th>
                                <th style="font-size:10px">Company</th>
                                <th style="font-size:10px">Customer</th>
                                <th style="font-size:10px">IC/O2C</th>
                                <th style="font-size:10px">Document Type</th>
                                <th style="font-size:10px">Data Source</th>
                                <th style="font-size:10px;white-space:nowrap">Billing Date</th>
                                <th style="font-size:10px;white-space:nowrap">Processing Date</th>
                                <th style="font-size:10px;white-space:nowrap">Create Date</th>
                                <th style="font-size:10px">XML Gen</th>
                                <th style="font-size:10px">XML Sign</th>
                                <th style="font-size:10px">PDF Sign</th>
                                <th style="font-size:10px">Print</th>
                                <th style="font-size:10px">Email</th>
                                <th style="font-size:10px">XML</th>
                                <th style="font-size:10px">Indexing</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="vertical-modal-ex">
    <!-- Modal -->
    <div class="modal fade" id="multi-postingyear-modal" tabindex="-1" aria-labelledby="reasonTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h5 class="modal-title" id="reasonTitle">Posting Year</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-floating mb-0">
                                    <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="4" class="form-control" id="multipostingyear-data">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                
                <div class="modal-footer">
                    <button type="button" onclick="fnModalMultiPostingYearClose()" class="btn btn-primary " data-bs-dismiss="modal">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="vertical-modal-ex">
    <!-- Modal -->
    <div class="modal fade" id="postingyear-modal" tabindex="-1" aria-labelledby="reasonTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h5 class="modal-title">Posting Year</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-floating mb-0">
                                    <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="4" class="form-control" id="postingyear-data">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="modal-footer">
                    <button type="button" onclick="fnModalPostingYearClose()" class="btn btn-primary " data-bs-dismiss="modal">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>

