<form class="form form-vertical">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="py-1">Task description</th>
                            <th class="py-1">Status</th>
                            <th class="py-1">Datetime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="py-1">
                                <p class="card-text font-weight-bold mb-25" id="txtProcessName"></p>
                            </td>
                            <td class="py-1">
                                <span class="font-weight-bold btn btn-sm" id="txtProcessStatus"></span>
                            </td>
                            <td class="py-1">
                                <i class="fas fa-clock"></i>
                                <span class="font-weight-bold" id="txtProcessDate"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="py-1">
                                <p class="card-text text-nowrap" id="txtProcessStatusDetail"></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="py-1">
                                <p class="card-text text-nowrap" id="txtProcessCustom1"></p>
                                <p class="card-text text-nowrap" id="txtProcessCustom2"></p>
                                <p id="pProcessbutton" style="margin-bottom: 0px;"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>