@{
    ViewData["Title"] = "ProfileEmailTemplate";
    Layout = null;
}

<script src="~/assets/validate/ProfileEmailTemplateValidate.js"></script>


<div class="modal fade" tabindex="-1" role="dialog" id="modalCreateProfileEmailTemplate" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create @ViewData["Title"]</h5>
                <button type="button" class="close" onclick="fnInsertCancelProfileEmailTemplate();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("~/Views/ProfileEmailTemplate/_Create.cshtml")
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnInsertCancelProfileEmailTemplate();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnInsertProfileEmailTemplate();">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modalUpdateProfileEmailTemplate" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update @ViewData["Title"]</h5>
                <button type="button" class="close" onclick="fnUpdateCancelProfileEmailTemplate();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("~/Views/ProfileEmailTemplate/_Update.cshtml")
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnUpdateCancelProfileEmailTemplate();">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnUpdateProfileEmailTemplate();">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modalGetProfileEmailTemplate" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Preview email</h5>
                <button type="button" class="close" onclick="fnClosePreviewEmailTemplate();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="previewData">

                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" onclick="fnClosePreviewEmailTemplate();">Close</button>
            </div>
        </div>
    </div>
</div>
